.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 160px;
  gap: 5px;
}

.mainButton {
  padding: 15px;
  border: 1px solid black;
  border-radius: 10%;
  font-weight: bolder;
  cursor: pointer;
  background: transparent;
  gap: 10px;
}

.mainButton:hover {
  background-color: rgb(201, 201, 201);
}
